@use "/src/styles/settings/variables" as v;

.c-title {
  text-align: center;
  font-weight: 700;
  text-shadow: 2px 2px 0 v.$color-black, 1px -1px 0 v.$color-black,
    -1px 1px 0 v.$color-black, -1px -1px 0 v.$color-black;
  color: v.$color-violet;
}
