.p-top {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  .c-title {
    h1 {
      font-size: 40px;
      @media screen and (min-width: 480px) {
        font-size: 64px;
      }
    }
    p {
      font-size: 24px;
      @media screen and (min-width: 480px) {
        font-size: 40px;
      }
    }
  }
}
