@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap");

@font-face {
  font-family: "Avenir";
  src: url("/public/fonts/AvenirLTStd-Roman.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/public/fonts/AvenirLTStd-Black.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: "Avenir";
  src: url("/public/fonts/AvenirLTStd-Book.otf") format("opentype");
  font-weight: 900;
  font-style: normal;
}
