$color-green: #79f2a4;
$color-violet: #9f79f2;
$color-pink: #f272ae;
$color-blue: #8fafed;
$color-yellow: #fff788;
$color-black: #000;
$color-white: #fff;

$font-jp: "Noto Sans JP";
$font-en: "Avenir";
