@use "/src/styles/settings/variables" as v;

html,
body,
#__next {
  height: 100%;
}

body {
  font-family: v.$font-en, v.$font-jp, sans-serif;
  &.is-MenuOpen {
    width: 100%;
    height: 100%;
    position: fixed;
  }
}

img {
  width: 100%;
  height: 100%;
}
